[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
pytest = "*"
pygit2 = "*"
aiofile = "*"
click = "*"
vistir = "==0.6.1"
pipenv-setup = {ref = "master", git = "https://github.com/Madoshakalaka/pipenv-setup"}
chardet = "*"
rich = "*"
black = "*"

[dev-packages]
pipenv-setup = "*"
pre-commit = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
